<div class="jumbotron">
	<h1 class="text-center">Welcome <%= @user.name.capitalize %> </h1>
</div>
<h3 class="text-center">Here is Everyones wishes!</h3>
	<% Wish.all.each do |wish| %>
		<div class="container">
			<div class="row">
				<div class="col-sm-4"></div>
					<div class="col-sm-4 box">
						<% if wish.user.name == @user.name %>
							
							<h4> <u> YOU</u> wished </h4>
						<% else %>

							<h4> <%= wish.user.name %> wished</h4>
						<% end %>

						<div class="text"><p class="text-center"> <%= wish.content %> </p></div>
						
					        <% Event.all.each do |e| %>
					            <input type="checkbox" name="wish[e]" value="<%= e.event %>" class="text-center" <%= 'checked' if wish.events.include?(e) %>> <%= e.event %> 
					        <% end %>

						<% if wish.user.name == @user.name %>
							<div class="row">
								<div class="col-xs-6">
									<form method="get" action="/wishes/<%= wish.id %>/edit" class="text-center buttons">
										<button type="/wishes/<%= wish.id %>/edit" >-Edit-</button>
									</form>
								</div>
								<div class="col-xs-6">
									<form method="POST" action="/wishes/<%= wish.id %>/delete" class="text-center buttons">
										<input id="hidden" type="hidden" name="_method" value="delete">
										<input type="submit" name="submit" value="-Delete-">
									</form>
								</div>
							</div>	
						<% end %>
					</div>		
				</div>
			</div>
		</div>
	<% end %>

<form method="get" action="/home" class="text-center buttons">
	<button type="submit">-My page-</button>
</form>

<form method="get" action="/logout" class="text-center buttons">
	<button type="submit">-LOGOUT-</button>
</form>

