<!DOCTYPE html>
<html>
<head>
	<title>Your Christmas Wish List!!!</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/wishes.css">
</head>
<body>

	<h1 class="text-center">Welcome <%= @user.name.capitalize %> </h1>

	<h3 class="text-center">Here is Everyones wishes!</h3>


	<% Wish.all.each do |wish| %>
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<div class="span4 offset4" id="box">
						<% if wish.user.name == @user.name %>
							
							<h4> <u> YOU</u> wished </h4>
						<% else %>

							<h4> <%= wish.user.name %> wished</h4>
						<% end %>

						<div class="text"><p class="text-center"> <%= wish.content %> </p></div>
						
					        <% Event.all.each do |e| %>
					            <input type="checkbox" name="wish[e]" value="<%= e.event %>" class="text-center" <%= 'checked' if wish.events.include?(e) %>> <%= e.event %> 
					        <% end %>

						<% if wish.user.name == @user.name %>
							<form method="get" action="/wishes/<%= wish.id %>/edit" class="text-center">
								<button type="/wishes/<%= wish.id %>/edit">-Edit-</button>
							</form>
							<form method="POST" action="/wishes/<%= wish.id %>/delete" class="text-center">
								<input id="hidden" type="hidden" name="_method" value="delete">
								<input type="submit" name="submit" value="Delete">
							</form>
							
						<% end %>
					</div>		
				</div>
			</div>
		</div>
	<% end %>
			


		<form method="get" action="/home" class="text-center">
			<button type="submit">-My page-</button>
		</form>

		<form method="get" action="/logout" class="text-center">
			<button type="submit">-LOGOUT-</button>
		</form>

	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
	
</body>
</html>