<!DOCTYPE html>
<html>
<head>
	<title>Your Christmas Wish List!!!</title>
</head>
<body>
	<h1>Welcome <%= @user.name %> </h1>
	<form method="POST" action="/logout">
		<button type="submit">LOGOUT</button>
	</form>

	<h4>Here is a list of everyones wishes!</h4>

	<% Wish.all.each do |wish| %>

	<h6> <%= wish.user.name %> </h6>
	<p> <%= wish.content %> </p>
		<% if wish.user.name == @user.name %>
			<form method="get" action="/wishes/<%= wish.id %>/edit">
				<button type="/wishes/<%= wish.id %>/edit">-Edit-</button>
			</form>
		<% end %>
	<% end %>

</body>
</html>