<!DOCTYPE html>
<html>
<head>
	<title>Your Christmas Wish List!!!</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/wishes.css">
</head>
<body>
	<% if flash.has?(:message) %>
	  <div class="flash_green"><%= flash[:message] %></div>
	<% end %>
	
	<h1 class="text-center">Welcome <%= @user.name.capitalize %> </h1>

	<h5 class="text-center">Here is the new wish you just added to your wish list</h5>
			<div class="container">
				<div class="row-fluid">
					<div class="span12">
						<div class="span4 offset4" id="box">
							<p class="text-center"> <%= @new_wish.content %> </p>

								<form method="get" action="/wishes/<%= @new_wish.id %>/edit" class="text-center">
									<button type="submit">-Edit-</button>
								</form>
								<form method="post" action="/wishes/<%= @new_wish.id %>/delete" class="text-center">
									<input type="hidden" name="_method" value="delete">
									<input type="submit" name="submit" value="Delete">
								</form>
						</div>
					</div>
				</div>
			</div>

	<form method="get" action="/home" class="text-center">
		<button type="submit">-My page-</button>
	</form>

	<h5 class="text-center"><a href="/all_wishes">See Everyones Wishes</a></h5>

	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
</body>
</html>