<h1 class="text-center title">Welcome <%= current_user.username %> </h1>
<h5 class="text-center">Here is the new wish you just added to your wish list</h5>
			<div class="container">
				<div class="row">
					<div class="col-sm-4"></div>
						<div class="col-sm-4 offset-sm-4 box">	

							<div class="text"><p class="text-center"> <%= @new_wish.content %> </p></div>
								<% Event.all.each do |event| %>
						         	<input type="checkbox" name="wish[event]" value="<%= event.event %>" class="text-center" <%= 'checked' if @new_wish.events.include?(event) %>> <%= event.event %>
						        <% end %>
						        
						        <div class="row">	
									<div class="col-sm-6">
										<form method="get" action="/wishes/<%= @new_wish.id %>/edit" class="text-center buttons">
											<button type="submit">-Edit-</button>
										</form>
									</div>

									<div class="col-sm-6">
										<form method="post" action="/wishes/<%= @new_wish.id %>/delete" class="text-center buttons">
											<input type="hidden" name="_method" value="delete">
											<input type="submit" name="submit" value="Delete">
										</form>
									</div>
								</div>

						</div>
				</div>
					
	<div class="row">
		<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<div class="col-sm-4 text-center">
						<a href="/home" class="text-center buttons">
							<button type="submit">My Page</button>
						</a>
				</div>
				<div class="col-sm-4 text-center">
						<a href="/wishes" class="text-center buttons">
							<button type="submit">All Wishes</button>
						</a>
				</div>
		 		<div class="col-sm-4 text-center">
						<a href="/logout" class="text-center buttons">
							<button type="submit">Logout</button>
						</a>
				</div>
			</div>
	</div>
</div>
