<h1 class="text-center title">Welcome <%= current_user.username %> </h1>

<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
			<div class="col-sm-4 box">
				<h4 class="text-center">Your Wish List</h4>
					<% current_user.wishes.each do |wish| %>	
						<div class="text">
							<p class="text-center" ><%= wish.content %></p>
						</div>

						<% @events.each do |event| %>
					        <input 
					        	type="checkbox" 
					        	name="wish[event]" 
					        	value="<%= event.event %>" 
					        	class="text-center" 
					        	<%= 'checked' if wish.events.include?(event) %>> <%= event.event %>
					    <% end %>

						<div class="row">	
							<div class="col-sm-6">	
								<form method="get" action="/wishes/<%= wish.id %>/edit" class="text-center buttons" >
									<button type="submit">-Edit-</button>
								</form>
							</div>
							<div class="col-sm-6">
								<form method="POST" action="/wishes/<%= wish.id %>/delete" class="text-center buttons">
									<input id="hidden" type="hidden" name="_method" value="delete">
									<input type="submit" name="submit" value="-Delete-">
								</form>
							</div>	
						</div>
					<% end %>

			
		</div>		
	</div>

<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<div class="col-sm-4">
				<a href="/wishes/new" class="text-center buttons">
					<button type="submit">New Wish</button>
				</a>
		</div>
		<div class="col-sm-4">
				<a href="/wishes" class="text-center buttons">
					<button type="submit">All Wishes</button>
				</a>
		</div>
 		<div class="col-sm-4">
				<a href="/logout" class="text-center buttons">
					<button type="submit">Logout</button>
				</a>
		</div>
	</div>
</div>

   